.add button{
 margin-left: 50rem;
}

.logout button{
    margin-left: 72rem;
    margin-top: 2px;

}


#search-add {
    margin-left: 50rem;
    display: flex;

}

#search-add button {
    margin-right: 3rem; 
  }