<!-- <p>view-task-details works!</p> -->
<div class="close-icon-view">
    <img src="assets/cancel.svg" alt="no-img" (click)="close()">
 </div>
     
                <div class="form-group kt-form__group row">
                    <div class="col-6 kt-margin-b-10  detailsColumn" style="height: 300px;">
                        <div class=" col-12 kt-padding-b-10">
                            <label>Title</label>
                            <p>{{taskDetails?.Title ? taskDetails?.Title:'-' }}</p>
                           
                        </div>
                        <div class="col-12 kt-padding-b-10">
                            <label>Description</label>
                            <p>{{taskDetails?.Description ? taskDetails?.Description:'-' }}</p>
                        </div>
                        <div class="col-12 kt-padding-b-10">
                            <div class="row">
                                <div class="col-8">
                                    <label>Attached File</label>
                                    <p>{{taskDetails?.MultimediaName?taskDetails?.MultimediaName:'-'}}
                                        <!-- <span  (click)="showPreview(MultimediaLink)">View</span> -->
                                        <!-- <span (click)="showPreview(MultimediaLink)"
                                            *ngIf="taskDetails.MultimediaName != '-' && taskDetails.MultimediaType == 'I'"
                                            class="float-right viewBtn" download>View</span>
                                        <span
                                            *ngIf="taskDetails.MultimediaName != '-' && taskDetails.MultimediaType == 'D'"
                                            class="float-right viewBtn"><a href="{{MultimediaLink}}" target="_blank"
                                                download>View</a></span> -->
                                    </p>
                                    <span (click)="showPreview()" class="view-img">View</span>
                                </div>
                              
                            </div>
                        </div>
                        
                        <div class="col-12 kt-padding-b-10">
                            <label>Priority</label>
                            <p>{{taskDetails?.Priority ? taskDetails?.Priority:'-' }}</p>
                        </div>
                        <div class="col-12 kt-padding-b-10">
                            <div class="row">
                                <div class="col-8">
                                    <label>Assigned Date</label>
                                    
                                    <p *ngIf="taskDetails?.AssignedDate"> {{datePipe.transform(taskDetails.AssignedDate, 'd MMM yyyy')}}</p>
                                    <p *ngIf="!taskDetails?.AssignedDate">No assigned date</p>
                                   
                                    
                                </div>
                                <div class="col-4">
                                    <label>Due Date</label>
                                    <p *ngIf="taskDetails?.TaskEndDate"> {{datePipe.transform(taskDetails.TaskEndDate, 'd MMM yyyy')}}</p>
                                    <p *ngIf="!taskDetails?.TaskEndDate">No assigned date</p>
                                 
                                </div>
                            </div>
                        </div>
                        <div class="col-12 kt-padding-b-10">
                            <div class="row">
                                <div class="col-8">
                                    <label>Assigned To</label>
                                    <p  class="kt-pointer" *ngIf="taskDetails?.AssignedToUserCount">
                                        {{taskDetails.AssignedToUserCount}} <span
                                            *ngIf="taskDetails.AssignedToUserCount <= 1">&nbsp;User</span><span
                                            *ngIf="taskDetails.AssignedToUserCount > 1">&nbsp;Users</span></p>
                                </div>
                                <!-- <div class="col-4" *ngIf="taskDetails.TaskOwnerCount >= 1;else noCC">
                                    <label>CC Members</label>
                                    <p  class="kt-pointer" *ngIf="taskDetails?.TaskOwnerCount">
                                        {{taskDetails.TaskOwnerCount}} <span
                                            *ngIf="taskDetails.TaskOwnerCount <= 1">&nbsp;User</span><span
                                            *ngIf="taskDetails.TaskOwnerCount > 1">&nbsp;Users</span>
                                    </p>
                                </div> -->
                            </div>
                            <ng-template #noCC>
                                <div class="col-4">
                                    <label>Customer Name</label>
                                    <p class="highlight kt-pointer"
                                       >
                                        {{taskDetails?.LeadName ? taskDetails?.LeadName:'-' }}</p>
                                </div>
                            </ng-template>
                        </div>
                      
                    </div>

                    

                       
                </div>
