.upload img {
    // margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
   
    height: 60px;
    width: 60px;
    margin: 30px auto;
    border: 1px dashed #e2f1f8;
    border-radius: 7px;
}