<!-- <p>add-task works!</p> -->
<!-- <router-outlet></router-outlet> -->





<div>Add Task</div>
<div class="close-icon">
    <img src="assets/cancel.svg" alt="no-img" (click)="close()">
</div>
<mat-tab-group  #tabgroup style="margin-bottom:5px;" animationDuration="0" mat-align-tabs="start"
(selectedIndexChange)="change(tabgroup,$event)" [selectedIndex]="selectedCurrentIndex">
    <mat-tab label="Assign to Others">
        <div>
           
            <div>
                <form [formGroup]="addForm">

                    <div class="row">

                        <div class="col-lg-12">
                            <div class="form-group">
                                <mat-form-field class="field">
                                    <mat-label>Title*</mat-label>
                                    <input matInput formControlName="Title">
                                    <mat-error style="color:rgb(236, 66, 95);">
                                        
                                        <ng-container *ngIf="Title?.touched && Title?.hasError('required')"> Title is
                                            required</ng-container>
                                        <ng-container *ngIf="Title?.touched && Title?.hasError('pattern')">Title should contain only
                                            alphabetical characters</ng-container>

                                    </mat-error>

                                </mat-form-field>

                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <mat-form-field>
                                    <mat-label>Description*</mat-label>
                                    <textarea matInput formControlName="Description"></textarea>
                                    <mat-error style="color:rgb(236, 66, 95);"
                                        *ngIf="Description && Description.invalid && Description.touched">description is
                                        required</mat-error>
                                </mat-form-field>

                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <mat-form-field class="mat-form-field-fluid">
                                    <input  matInput placeholder="Attach File*"
                                        [value]="displayFileName" (click)="openFile()" readonly />
                                    <input formControlName="Image" hidden />
                                    <input #imageFileInput id="imageFileInput" type="file"
                                        (change)="handleFileSelect($event.target)" hidden>
                                </mat-form-field>
                                <div  (click)="removeFile()" *ngIf="displayFileName">Remove
                                </div>

<!-- 
                                <label class="btn btn-primary" for="img">Attach File </label>
                                <input id="img" (change)="onFileSelect($event)" accept="*/*" formControlName="Image"
                                    type="file">
                                <mat-error style="color:rgb(236, 66, 95);"
                                    *ngIf="Image && Image.invalid && Image.touched">File is required</mat-error>
                                <mat-error style="color:rgb(236, 66, 95);" *ngIf="imageValid">File size should be less
                                    than 2MB</mat-error> -->

                                <!-- <mat-form-field class="field"> -->
                                <!-- <mat-label>Attach File</mat-label>
                            <input matInput formContolName="image" [value]="attachFileValue" (change)="onFileSelect($event)" accept="/*"
                            (click)="onOpenFile()"> -->
                                <!--                    
                        </mat-form-field> -->

                            </div>
                        </div>

                       
                        <div class="col-lg-6">
                            <div class="form-group">
                                <mat-form-field class="field">
                                    <input matInput [matDatepicker]="picker" placeholder="Select Due Date*"
                                        [min]="current" formControlName="TaskEndDateDisplay" (click)="picker.open()"
                                        readonly />
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                    <mat-error align="start">Please enter
                                        <strong>Due Date</strong></mat-error>
                                    <input matInput formControlName="TaskEndDate" hidden />

                                </mat-form-field>

                            </div>
                        </div>


                        <div class="col-lg-6">
                            <div class="form-group">
                                <mat-form-field class="field">

                                    <mat-label>Select Priority*</mat-label>
                                    <mat-select formControlName="Priority">
                                        <mat-option value="High">High Priority</mat-option>
                                        <mat-option value="Low">Low Priority</mat-option>
                                    </mat-select>

                                     <mat-error style="color:rgb(236, 66, 95);" *ngIf="Priority && Priority.invalid && Priority.touched">priority  is required</mat-error> 

                                </mat-form-field>

                            </div>
                        </div>
                        <div class="col-lg-6">
                            <!-- blank -->
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <mat-form-field class="field">
                                    <mat-label>Add Users*</mat-label>
                                    <input matInput formControlName="UserDisplayIds" (click)="openMembers('UserIds')">

                                    <ul>
                                        <!-- <li *ngFor="let member of allMembers">{{ member.Name }}</li> -->
                                    </ul>
                                     <mat-error style="color:rgb(236, 66, 95);" *ngIf="UserDisplayIds && UserDisplayIds.invalid && UserDisplayIds.touched">user is required</mat-error>
                                    <input matInput formControlName="UserIds" hidden />
                                </mat-form-field>

                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <mat-form-field class="field">
                                    <mat-label>Add CC Members*</mat-label>
                                    <input matInput formControlName="TaskDisplayOwners"
                                        (click)="openMembers('TaskOwners')">

                                    <mat-error style="color:rgb(236, 66, 95);"
                                        *ngIf="TaskDisplayOwners && TaskDisplayOwners.invalid && TaskDisplayOwners.touched">CC Member is
                                        required</mat-error>
                                    <input matInput formControlName="TaskOwners" hidden />
                                </mat-form-field>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </mat-tab>
    <mat-tab label="Assign to Me">
        <div>
            
            <div>
                <form [formGroup]="addForm">

                    <div class="row">

                        <div class="col-lg-12">
                            <div class="form-group">
                                <mat-form-field class="field">
                                    <mat-label>Title*</mat-label>
                                    <input matInput formControlName="Title">
                                    <mat-error style="color:rgb(236, 66, 95);"
                                        *ngIf="Title && Title.invalid && Title.touched">
                                        <ng-container *ngIf="Title.hasError('required')">Title  is
                                            required</ng-container>
                                        <ng-container *ngIf="Title.hasError('pattern')">Title should contain only
                                            alphabetical characters</ng-container>

                                    </mat-error>

                                </mat-form-field>

                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <mat-form-field>
                                    <mat-label>Description*</mat-label>
                                    <textarea matInput formControlName="Description"></textarea>
                                    <mat-error style="color:rgb(236, 66, 95);"
                                        *ngIf="Description && Description.invalid && Description.touched">description is
                                        required</mat-error>
                                </mat-form-field>

                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <mat-form-field class="mat-form-field-fluid">
                                    <input  matInput placeholder="Attach File*"
                                        [value]="displayFileName" (click)="openFile()" readonly />
                                    <input formControlName="Image" hidden />
                                    <input #imageFileInput id="imageFileInput" type="file"
                                        (change)="handleFileSelect($event.target)" hidden>
                                        <mat-error style="color:rgb(236, 66, 95);" *ngIf="Image && Image.invalid && Image.touched">File  is required</mat-error>
     
                                </mat-form-field>
                                <div class="kt-remove-input-value" (click)="removeFile()" *ngIf="displayFileName">Remove
                                </div>

                               

                            </div>
                        </div>

                        
                        <div class="col-lg-6">
                            <div class="form-group">
                                <mat-form-field class="field">
                                    <input matInput [matDatepicker]="picker1" placeholder="Select Due Date*"
                                        [min]="current" formControlName="TaskEndDateDisplay" (click)="picker1.open()"
                                        readonly />
                                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                    <mat-datepicker #picker1></mat-datepicker>
                                    <mat-error align="start">Please enter
                                        <strong>Due Date</strong></mat-error>
                                    <input matInput formControlName="TaskEndDate" hidden />

                                </mat-form-field>

                            </div>
                        </div>


                        <div class="col-lg-6">
                            <div class="form-group">
                                <mat-form-field class="field">

                                    <mat-label>Select Priority*</mat-label>
                                    <mat-select formControlName="Priority">
                                        <mat-option value="High">High Priority</mat-option>
                                        <mat-option value="Low">Low Priority</mat-option>
                                    </mat-select>

                                 <mat-error style="color:rgb(236, 66, 95);" *ngIf="Priority && Priority.invalid && Priority.touched">priority  is required</mat-error>

                                </mat-form-field>

                            </div>
                        </div>
                        <div class="col-lg-6">
                            <!-- blank -->
                        </div>
                        
                        <div class="col-lg-12">
                            <div class="form-group">
                                <mat-form-field class="field">
                                    <mat-label>Add CC Members*</mat-label>
                                    <input matInput formControlName="TaskDisplayOwners"
                                        (click)="openMembers('TaskOwners')">

                                    <mat-error style="color:rgb(236, 66, 95);"
                                        *ngIf="TaskDisplayOwners && TaskDisplayOwners.invalid && TaskDisplayOwners.touched">CC Member is
                                        required</mat-error>
                                    <input matInput formControlName="TaskOwners" hidden />
                                </mat-form-field>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </mat-tab>

</mat-tab-group>


<div>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-button  cdkFocusInitial (click)="submit()" >Add</button>
    </mat-dialog-actions>
</div>