.close-icon{
    margin-left: 39rem;
    margin-top: 1px;
}


.mat-tab-group {
    margin-bottom: 48px;
  }
  .wrapper
  {
    position:relative;
    width:100%;
  }
  .wrapper>div
  {
    position:absolute;
    width:100%;
  }
  